<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/main.css">
    <title>Personal Finance Tracker</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-light shadow-lg">
            <a class="navbar-brand" href="/">Personal Finance Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto py-2">
                <li class="nav-item active px-2">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="signin">Login</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/signup" class=" nav-link btn btn-primary btn-lg default-btn shadow mx-1">Get Started</a>
                </li>
              </ul>
            </div>
          </nav>
        <div class="container-fluid hero px-5 py-5 text-white">
            <div class="row py-5">
                <div class="col-lg-7">
                    <h1 class="display-3">Let us Help you manage Your Finance</h1>
                    <p class="lead">When you are in control of your finances you will feel alright. We will help you manage your finances seamlessly, Get to use our Features that will help you manage your income, budget, and expenses</p>
                    <a href="/signup" class="btn btn-primary btn-lg default-btn shadow mx-1">Get Started</a>
                    <a href="/signin" class="btn btn-outline-secondary mx-1 btn-lg" id="login-Btn">Login</a>
                </div>
                <div class="col-lg-5 hero-img">
                    <img src="/img/financial-management-fulfilio-financial-management-png-800_600.png" alt="" width="100%">
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row px-3 py-5">
            <div class="col-sm-12 col-lg-4">
                <h1>Why Use Our Product?</h1>
            </div>
            <div class="col-sm-12 col-lg-8">
                <p class="lead">We are Committed to helping users manage their finances. This app helps users manage their income and keep track of their expenses. Users can manually input their income and expenses on a daily basis. and also track and record all transactions automatically. Our platform is stable, secure, and totally private. Our dedicated customer service team is friendly, knowledgeable, and quick to respond.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-5 py-5 text-center mb-5 feature-wrapper">
        <div class="col-md-12 mt-4">
            <h2 class="display-4 ">What we help you with</h2>
            <p class="lead">Get to know what this app will help you achieve</p>
        </div>
        <div class="row px-4 ">
            <div class="col-sm-12 col-lg-4 mb-4">
                <div class="card px-3 shadow">
                    <div class="icon pt-4"><i class="fas fa-money-bill-alt icon"></i></div>
                    <h3 class="card-title mt-3">Add Income</h3>
                    <div class="card-body">
                        
                      Get to add daily income, keep track of your income and get to know how to spend wisely.
                    </div>
                  </div>
            </div>
            <div class="col-sm-12 col-lg-4 mb-4">
                <div class="card px-3 shadow">
                    <div class="icon pt-4"><i class="fas fa-money-check icon"></i></div>
                    <h3 class="card-title mt-3">Add Expenses</h3>
                    <div class="card-body">
                      Get to add your daily expenses, keep track of your expenses and get to know how to spend wisely.
                    </div>
                  </div>
            </div>
            <div class="col-sm-12 col-lg-4 mb-4">
                <div class="card px-3 shadow">
                    <div class="pt-4"><i class="fas fa-chart-area icon"></i></div>
                    <h3 class="card-title mt-3">Add Budgets</h3>
                    <div class="card-body">
                      Get to set daily, monthly and yearly budgets. Cut down on your expenses, and also help you spend less than your budget.
                    </div>
                  </div>
            </div>
        </div>   
      </div>
      <div class="container-fluid">
        <div class="row justify-content-center">                          
          <div class="col-lg-7">
            <div class="row mt-3 mb-5">
              <div class="col-12 mt-4 ">
                <div class="card shadow">
                  <div class="card-body">
                    <h1 data-toggle="tooltip" data-placement="top" title="Frequently Asked Questions" >FAQs</h1>
                    <p>Have Questions on how to use our application and how to use all features in this website/p>
                    <hr>
                    <div id="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <a href="#" class=" btn-link text-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <h3>About The Personal Finance Tracker</h3>
                            </a>
                          </h5>
                        </div>
                    
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            The Personal Finance Tracker is a Web Application that Helps Users Manage their Income, Expenses and Also make Budgets on a daily, monthly and yearly basis. Users can Register on the Sign Up page and also Login using the Account details created. A User is redirected to His/Her dashboard page where he can set budget and all others.
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <a href="#" class=" btn-link collapsed text-secondary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <h3>How To Use The Web Application</h3>
                            </a>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            First time users should please navigate to "Get Started" and Sign up as a new user. If you are a registered user you are to Login to your account . <strong>Note:</strong> As a new user, you will be redirected to the Account settings page after you login. Where you will have to set up details for using the app.
                            You will have to set up the following;
                            <ul>
                              <li>Income Category</li>
                              <li>Expenses Category</li>
                              <li>Set Your Currency</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <a href="#" class="btn-link collapsed text-secondary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <h3>Why do you need this App</h3>
                            </a>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            The Personal Finance Tracker, helps you keep track of your day to day financial activities so you know how you spend and also keep track of how you live financially while helping you stay within your budget.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="py-4 bg-dark mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-light">Copyright &copy; Personal Finance Tracker 2020</div>
            </div>
        </div>
    </footer>





<script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"
      integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04="
      crossorigin="anonymous"
    ></script>
</body>
</html>