<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/main.css">
    <title>Personal Finance Tracker</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-light shadow-lg">
            <a class="navbar-brand" href="/">Personal Finance Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto py-2">
                <li class="nav-item active px-2">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="/signin">Login</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/signup" class=" nav-link btn btn-primary btn-lg default-btn shadow mx-1">Get Started</a>
                </li>
              </ul>
            </div>
          </nav>
        <div class="row justify-content-center">                         
            <div class="col-lg-7">
                <section class="reg-wrapper">
            <div class="form-wrapper py-5">
                <div class="row form-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 py-3">
                                <h2 class="display-6 text-center">Create Account</h2>
                                    <form action="/signup" method="POST">
                                    <div class="form-group">
                                      <label for="firstname">First Name</label>
                                      <input type="text" name="firstName" class="form-control" id="firstname" placeholder="Firstname" required>
                                    </div>
                                    <div class="form-group">
                                      <label for="Lastname">Lastname</label>
                                      <input type="text" name="lastName" class="form-control" id="lastname" placeholder="Lastname" required>
                                    </div>
                                    <div class="form-group">
                                      <label for="emailInput">Username</label>
                                      <input type="text"name="userName"  class="form-control" id="username" placeholder="Choose a Username" required>
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Email address</label>
                                      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                                    </div>
                                    <div class="form-group">
                                      <label for="password">Password</label>
                                      <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                                    </div>
                                    <!-- <div class="form-group">
                                      <label for="confirmPassword">Confirm Password</label>
                                      <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
                                    </div> -->
                                    <div class="form-group form-check">
                                        <p><a href="/signin">Already Have an account? Login</a></p>
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="get-started">Submit</button>
                                  </form>
        
                    </div>
                </div>
            </div>
        
        
                </section><!--Hero Section-->
            </div>
        </div>

      <footer class="py-4 bg-dark mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-light">Copyright &copy; Personal Finance Tracker 2019</div>
            </div>
        </div>
    </footer>





<script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"
      integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04="
      crossorigin="anonymous"
    ></script>
</body>
</html>




